@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to right, #9098B8, #A8AAB8, #C8A8B0, #C8B088);
  color: #FFFFFF;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
