_format_version: "2.1"
_transform: true

services:
  - name: auth
    url: http://auth:9999/
    routes:
      - name: auth_v1
        paths:
          - /auth/v1

  - name: rest
    url: http://rest:3000/
    routes:
      - name: rest_v1
        paths:
          - /rest/v1

  - name: realtime
    url: http://realtime:4000/
    routes:
      - name: realtime_v1
        paths:
          - /realtime/v1

  - name: storage
    url: http://storage:5000/
    routes:
      - name: storage_v1
        paths:
          - /storage/v1

  - name: edge
    url: http://edge:9000/
    routes:
      - name: functions_v1
        paths:
          - /functions/v1

